body {
  width: 100%;
background: goldenrod;
}

.maincontent, .nextcontent {
  padding-top: 40px;
  display: none;
}


.mainlink, .nextlink {
  font-family: 'Yesteryear', cursive;
  color: #fff;
  border: 3px solid #fff;
  padding: 15px 10px;
  display: block;
  text-align: center;
  margin: 25px auto;
  width: 13%;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
}

.mainlink:hover, .nextlink:hover{
  background: #fff;
  color: #575757;
} 


h1 {
  font-family: 'Yesteryear', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  color: #fff;
  margin-top: 10px;
}

h2 {
  font-family: 'Yesteryear', cursive;
  text-align: center;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 200;

}

#pac-input {
  margin: 0 auto;
  display: block;
  font-family: 'Yesteryear', cursive;
  width: 250px;
  font-size: 20px;
  text-align: center;
  
}


/* PAGES
-------------------------------------------------*/
#main-page {
  height: 25px;
  width: 375px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1485570661444-73b3f0ff9d2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4550661e949789d265b9df2662108c93&auto=format&fit=crop&w=1663&q=80");
  display: none;
}

#next-page, .next-content {
  height: 25px;
  width: 375px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1464490826362-59825a4f51df?ixlib=rb-0.3.5&s=f99d4c3064eec3f7de069b0948498c6d&auto=format&fit=crop&w=1651&q=80");
  display: none;
}


#weather-display {
  text-align: center;
  background: rgba(230, 223, 223, 0.7);
  font-size:15px; 
  color: #fff;
  border: 3px solid #fff;
  width: 100%;
    margin-top: 66px;
}

/*
#map-display {
  text-align: center;
  background-color: gold;
  font-size:15px; 
  color: gold;
  border: 3px solid #fff;
  height: 50%;
  margin: 0; 
}
*/

div .result-image {
    width: 100%;
    float: left;
    height: 15em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center center;
}

.col-3, .result {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background: rgba(230, 223, 223, 0.7);
    border-radius: 5px;
}

.result-description {
    padding: 10px;
    text-align: justify;
    overflow: hidden;
    font-size: 0.9em;
}

.result-description h2 {
    font-size: 1.3em;
    font-family: 'Yesteryear', cursive;
    font-weight: 700;
    ;
}

#foursquare-results {
    height: 300px;
}

#foursquare-results span {
    display: inline-block;
    height: 32px;
    padding: 0;
    vertical-align: top;
    background-color: #ccc;
    border-radius: 5px;
}

#foursquare-results span.icon-text {
    padding: 8px 4px 0 4px;
}

/***** RESPONSIVE DESIGN *****/

* {
    box-sizing: border-box;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .col-3, .next-content {
        width: 30%;
        display: inline-block;
        vertical-align: text-top;
    }
}






